*
        {
        padding:0;
        margin:0;
        font-size: 100%;
        line-height: 1em;
        }
    
body 
        {
        background-color:#F69C00; 
        color: white;
        text-align: center;
        }
    
h1 
        {
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        margin: 10px 0 10px 0;
        }

h2
        {
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 5px; 
        line-height: 1.35em;
        font-family: "Amatic SC";
        font-weight: normal;
        margin: 10px 0 10px 0;
        padding-bottom: 40px;
        padding-top: 10px;
        }
.vector
        {width:25%;
        height:25%;
        min-width: 250px;
        display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.vector:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.ancor1
{width:60px;
 height:60px;
 padding:10px;
z-index: 1;
position: fixed;
left: 10px;
top:210px;
display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ancor1:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.ancor2
{width:60px;
 height:60px;
 padding:10px;
z-index: 1;
position: fixed;
left: 10px;
top: 280px;
display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ancor2:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ancor3
{width:60px;
 height:60px;
 padding:10px;
z-index: 1;
position: fixed;
left:10px;
top: 350px;
display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ancor3:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}



.ancor4
{width:60px;
 height:60px;
 padding:10px;
z-index: 1;
position: fixed;
left:10px;
top:420px;
    display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.ancor4:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.letterA
        { 
        width:25%;
        height:25%;
        min-width: 250px;
        display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.letterA:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

        }

p
        {
        font-family:"Neucha";
        padding: 10px;
        line-height: 1.35em;
        margin: 0 20% 0 20%;
        font-size:20px;
        text-align: justify;
        }

    

.john-baskerville
        {
        position:relative;
        padding: 10px 10px 150px 10px;
        background: #F69C00;
        max-width: 100%;
        }

.john-baskerville:after
        {
        background: linear-gradient(-40deg, #F6C46D 16px,             transparent 0), linear-gradient(40deg, #F6C46D 16px, transparent 0);

        /* zig-zag size */
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }


.the-man
        {
        position:relative;
        padding: 10px 10px 120px 10px;
        background: #F6C46D;
        max-width: 100%;
        }

.the-man:after
        {
        background: linear-gradient(-40deg, white 16px,             transparent 0), linear-gradient(40deg, white 16px, transparent 0);

        /* zig-zag size */
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }

.quote
        {
        position:relative;
        padding: 10px 10px 120px 10px;
        background: white;
        max-width: 100%;
        }

.quote:after
        {
        background: linear-gradient(-40deg, #F6C46D 16px,             transparent 0), linear-gradient(40deg, #F6C46D 16px, transparent 0);

        /* zig-zag size */
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }

.the-typeface
        {
        position:relative;
        padding: 10px 10px 120px 10px;
        background: #F6C46D;
        max-width: 100%;
        }

.the-typeface:after
        {
        background: linear-gradient(-40deg, white 16px,             transparent 0), linear-gradient(40deg, white 16px, transparent 0);

        /* zig-zag size */
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }


.types
        {
        position:relative;
        padding: 10px 10px 400px 10px;
        background: white;
        max-width: 100%;
        }

.types:after
        {
        background: linear-gradient(-40deg, #F6C46D 16px,             transparent 0), linear-gradient(40deg, #F6C46D 16px, transparent 0);

        /* zig-zag size */
        background-position: left-bottom;
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }

ul
        {
        text-align: center;
        color: #F69C00;
        font-family:"Amatic SC";
        font-size: 40px;
        padding-top: 60px;
        padding-bottom: 10px;
        }
ol 
        {
        text-align: center;
        color:#F69C00;
        }

.hot-type

        {
        width:220px;
        text-align:center;
        min-height:150px;
        height:auto;
        padding-left:20px;
        float:left;
        margin-left: 20%;
        }

.cold-type

        {
        width:220px;
        text-align:center;
        min-height:150px;
        height:auto;
        padding-left:20px;
        float:left;
        margin-left:50px;
        }

.digital
        {
        width:220px;
        text-align:center;
        min-height:150px;
        height:auto;
        padding-left:20px;
        float:left;
        margin-left: 50px;
        }

blockquote

        {
        padding-top:60px ;
        color:#F69C00;
        font-size: 50px;
        font-family: baskerville;
        text-align: center;
        margin: 0 150px;
        }

cite

        {
        margin-top:30px;
        font-size: 15px
        }

ol a       
        {
        color:#F6C46D;
        text-decoration: none;
        letter-spacing: 2px;
        font-family: "Amatic SC";
        font-size: 30px;
                display: inline-block;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: -webkit-transform;
        transition-property: transform;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }
        
        a:hover 
        {
        color: #2C221B;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }

small a {  color:#F6C46D;
        text-decoration: none;
        letter-spacing: 2px;
        font-family: "Amatic SC";
        font-size: 30px;
        }
        
        a:hover 
        {
        color: #2C221B;}





.mrs-eaves
        {
        position:relative;
        padding: 10px 10px 120px 10px;
        background: #F6C46D;
        max-width: 100%;
        }
.mrs-eaves:after
        {
        background: linear-gradient(-40deg, #F69C00 16px,             transparent 0), linear-gradient(40deg, #F69C00 16px, transparent 0);

        /* zig-zag size */
        background-repeat: repeat-x;
        background-size: 20px 70px;
        /* zig-zag size */

        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        }





small

        {
        font-family: "Amatic SC";
        font-size: 20px;
        text-align: center;
        }

.footer
  
        {
        margin: 0 40px 0 40px;
        position:relative;
        padding: 10px 10px 50px 10px;
        background: #F69C00;
        max-width: 100%;
        }

.box

        {
        position:relative;
        padding: 10px 10px 10px 10px;
        background: #F69C00;
        max-width: 100%;
        }

iframe
        {
        padding: 30px
        }
